{
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": [
    "airbnb",
    "plugin:css-modules/recommended"
  ],
  "parser": "babel-eslint",
  "globals": {
    "__DEV__": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "css-modules"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "react/jsx-filename-extension": [
      1, { "extensions": [".js", ".jsx"] },
    ],
    "func-names": ["error", "never"],
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": [
          "**/*.test.js",
          "**/*.spec.js",
          "webpack/**/*.js",
        ]
      },
    ],
    "space-before-function-paren": ["error", "never"]
  }
}

