{
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": [
    "airbnb",
    "plugin:css-modules/recommended"
  ],
  "parser": "babel-eslint",
  "globals": {
    "__DEV__": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "css-modules"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "react/jsx-filename-extension": [
      1, { "extensions": [".js", ".jsx"] },
    ],
    "react/forbid-prop-types": [0],
    "react/require-default-props": [0],
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "only-multiline",
    }],
    "func-names": ["error", "never"],
    "no-param-reassign": ["error", {
      "props": false,
    }],
    "import/no-extraneous-dependencies": [0],
    "import/no-unresolved": [0],
    "space-before-function-paren": ["error", "never"]
  }
}

